<html>
  <head>
    <meta charset="UTF-8">
    <title>Rota 6</title>
  </head>
  <body>
    <form action=<%= route %> method="POST">
      <input type="text" name="name" id="name" />
      <input type="text" name="job" id="job" />
      <button type="submit">Register Contact</button>
    </form>
  </body>
</htlm>