<html>
  <head>
    <meta charset="UTF-8">
    <title>Rota 5</title>
  </head>
  <body>
    <form action=<%= route %> method="POST">
      <button type="submit">Register Contact</button>
      </form>
  </body>
</htlm>